.book-form {
  display: flex;
  flex-direction: column;
}

input {
  box-sizing: border-box;
  width: 250px;
  padding: 0.1em;
  margin-bottom: 0.2em;
}

.book-form__cover-image {
  max-width: 250px;
}

.book-form__cover-image img {
  max-width: 100%;
}

.btn-submit {
  box-sizing: border-box;
  padding: 3px 6px;
  cursor: pointer;
  width: 250px;
}

.error-input {
  border: 2px solid red;
  border-radius: 4px;
}

.error-text {
  font-size: 12px;
  margin: 0.25em 0 0.5em 0;
  padding: 0;
  color: red;
  font-style: bold;
}
