.admin-panel {
  background: grey;
  display: flex;
  justify-content: space-between;
}

.admin-panel h2 {
  margin-bottom: 20px;
}

.books {
  width: 65%;
}

.books ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.books li {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  /* border: 1px solid red;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px 5px 5px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); */
}

/* .books li:hover {
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
} */
