.join-custumer {
  margin-top: 50px;
  width: 400px;
}
.join-data {
  margin: 0 10px 0 0;
}
.join-logo {
  display: flex;
  justify-content: center;
}
.join-texts {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  margin-top: 50px;
}
.join-text {
  line-height: 1.2em;
}
.join-register-btn {
  width: 150;
}
