/* .form-group-reg {
  position: static;
  width: 500px;
  left: 200px;
  padding-top: 1em;
  padding-left: 11em;
}

.reg-logo {
  margin-top: 3em;
  margin-left: 15em;
}

.form-group-reg-name label {
  position: absolute;
  top: 20px;
  left: 10px;
  font-size: var(--font-size-small);
  opacity: 1;
  transform: translateY(0);
  transition: all 0.2s ease-out;
}
.form-group-reg-e-mail label {
  position: absolute;
  top: 6em;
  left: 10px;
  font-size: var(--font-size-small);
  opacity: 1;
  transform: translateY(0);
  transition: all 0.2s ease-out;
}
.form-group-reg-phone label {
  position: absolute;
  top: 11em;
  left: 10px;
  font-size: var(--font-size-small);
  opacity: 1;
  transform: translateY(0);
  transition: all 0.2s ease-out;
}
.form-group-reg-password label {
  position: absolute;
  top: 16em;
  left: 10px;
  font-size: var(--font-size-small);
  opacity: 1;
  transform: translateY(0);
  transition: all 0.2s ease-out;
}
.form-group-reg-password2 label {
  position: absolute;
  top: 21em;
  left: 10px;
  font-size: var(--font-size-small);
  opacity: 1;
  transform: translateY(0);
  transition: all 0.2s ease-out;
}

.form-group-reg input:placeholder-shown + label {
  opacity: 0;
  transform: translateY(1rem);
}

.dynamic-input-name {
  box-sizing: border-box;
  width: 400px;
  padding: 1em;
  margin-top: 3.2em;
}
.dynamic-input-e-mail {
  box-sizing: border-box;
  width: 400px;
  padding: 1em;
  margin-top: 3.2em;
}
.dynamic-input-phone {
  box-sizing: border-box;
  width: 400px;
  padding: 1em;
  margin-top: 3.2em;
}
.dynamic-input-reg-password {
  box-sizing: border-box;
  width: 400px;
  padding: 1em;
  margin-top: 3.2em;
}
.dynamic-input-reg-password2 {
  box-sizing: border-box;
  width: 400px;
  padding: 1em;
  margin-top: 3.2em;
}
.btn-registration {
  margin: 2em;
  margin-left: 15em;
} */

.reg-box {
  margin-top: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.reg-form {
  width: 250px;
}
.reg-email {
  margin-top: 1em;
  margin-bottom: 1em;
}
.reg-password {
  margin-top: 1em;
  margin-bottom: 1em;
}
.inpt-reg-password {
  border: none;
  outline: none;
  font-size: 1em;
}
.inpt-reg-email {
  border: none;
  outline: none;
  font-size: 1em;
}

.btn-reg {
  margin-left: 25px;
  width: 200px;
  font-size: 1em;
  background: yellow;
  outline: none;
  border: 2px solid yellow;
  border-radius: 20px;
}
.btn-reg:hover {
  cursor: pointer;
  transform: scale(1.3);
}
.hr-reg {
  height: 3px;
  background: black;
  border-radius: 70px;
}
