.login-box {
  margin-top: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-form {
  width: 250px;
}
.log-email {
  margin-top: 1em;
  margin-bottom: 1em;
}
.log-password {
  margin-top: 1em;
  margin-bottom: 1em;
}
.inpt-log-password {
  border: none;
  outline: none;
  font-size: 1em;
}
.inpt-log-email {
  border: none;
  outline: none;
  font-size: 1em;
}

.btn-login {
  margin-left: 25px;
  width: 200px;
  font-size: 1em;
  background: yellow;
  outline: none;
  border: 2px solid yellow;
  border-radius: 20px;
}
.btn-login:hover {
  cursor: pointer;
  transform: scale(1.3);
}
.hr-log {
  height: 3px;
  background: black;
  border-radius: 70px;
}
