.book-list-item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 15px 0 25px 0px;
  width: 250px;
  height: 327px;
  /* border: 5px solid black; */
  border-radius: 10px;
  /* background-color:#4b4b4a73 ; */
}
.book-list-item .author-title {
  height: 70px;
  font-size: 20px;
}

.book-list-item .book-cover {
  flex-shrink: 0;
  width: 120px;
  margin-right: 30px;
}

.book-list-item .book-cover img {
  margin: 10px;

  height: 180px;
  max-width: 100%;
}

.book-list-item .book-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
  align-items: flex-start;
}

.book-list-item .book-details .book-title {
  font-size: 1.2rem;
  margin: 0 5px 0 5px;
  font-size: 20px;
}

.book-list-item .book-details .book-price {
  font-size: 1.4rem;
}
.book-list-item .book-details .book-author {
  margin: 0 5px 0 5px;
}
.price-and-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 251px;
  height: 50px;
  background-color: #ebf322;
  margin: 0 0 0 -1px;
  /* z-index: -1; */
}
/* .book-list-item .book-details .btn-add-to-cart{
  width: 50px;
  height: 50px;
} */
.price-and-btn .btn-add-to-cart .add {
  width: 60px;
  height: 44px;
  padding-top: 7px;
}
.price-and-btn .btn-add-to-cart .add:hover {
  cursor: pointer;
  transform: scale(1.3);
}
