.header {
  width: 100%;
  min-height: 120px;
  background-color: #a8ee05;
  padding: 30px 0;
  position: fixed;
}

.header .container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.header__logo {
  width: 200px;
}

.header__logo a {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #000;
  text-decoration: none;
}

.logo {
  width: 150px;
  margin-right: 10px;
  overflow: hidden;
}

.logo__img {
  width: 100%;
  /* height: auto; */
}

.logo__text {
  font-size: 30px;
}
.signout-btn {
  font-size: 20px;
  cursor: pointer;
}
.signout-btn:hover {
  cursor: pointer;
  transform: scale(1.3);
}
.sign-out-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
  margin-right: -40em;
}

@media (max-width: 720px) {
  .logo {
    width: 30px;
    margin-right: 5px;
  }

  .logo__text {
    font-size: 20px;
  }
}

.header__nav {
  width: 600px;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.nav__item {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

@media (max-width: 720px) {
  .nav__item {
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
  }
}

.nav__link {
  color: #000;
  text-decoration: none;
  text-transform: capitalize;
}

.nav__link:hover {
  text-decoration: underline;
}
