.right-menu {
  position: fixed;
  right: -290px;
  /* right: 0; */
  top: 0;
  width: 400px;
  height: 100%;
  background: #f3f3f3;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 1s ease;
}
.right-menu:hover {
  right: 0px;
}
.shopping-cart {
  height: 100px;
  background-color: #ebf322;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
/* .items{
  background: url(./image/puck.png) no-repeat;
  background-size: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.puck {
  position: relative;
  width: 100px;
  top: -10px;
  left: -25px;
}
.total-prise-clouse {
  /* position: absolute; */
  top: 50%;
  /* background-size: 75px; */
  width: 11px;
  height: 0px;
  left: 50%px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3px;
}
.total-item {
  background: url(./image/puck.png) no-repeat;
  top: 50%;
  background-size: 75px;
  width: 70px;
  height: 80px;
  left: 50%px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3px;

  transform: translate (-50%);
}
.item-puck {
  position: relative;
  top: -3px;
  left: -31px;
}
.buy:hover {
  cursor: pointer;
  transform: scale(1.3);
}
