* {
  margin: 0;
  padding: 0;
}

body {
  min-width: 1080px;
  min-width: 320px;
  height: 100%;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  overflow-x: hidden;
}

@media (max-width: 720px) {
  body {
    font-size: 14px;
  }
}

.main-container {
  padding-top: 10em;
  min-height: calc(100vh - 300px);
}

.container {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 720px) {
  .container {
    padding: 0 10px;
  }
}
