.img-book {
  width: 200px;
}
.img-book img {
  height: 300px;
  max-width: 100%;
}
.book-info-one {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 500px;
  border: 3px;
  margin: 2em;
  margin-left: 9em;
}
.book-info-two {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}
.general-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
