.total {
  padding: 25px;
}
.your-order {
  display: flex;
  justify-content: center;
}
.cart-data {
  margin: 10px;
}
.cover-image {
  width: 88px;
  margin-bottom: -1.5em;
}
.delet {
  width: 30px;
}
.delet:hover {
  cursor: pointer;
  transform: scale(1.3);
}
.minus {
  width: 25px;
}

.minus:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.plus {
  width: 25px;
}

.plus:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.check {
  width: 75px;
  height: 75px;
  margin: 0 0 0 22px;
}
.up-part {
  display: flex;
  justify-content: space-around;
  /* margin:0 0 -2em 0; */
}
.up-part .open {
  display: flex;
  justify-content: space-around;
}

.down-part {
  display: flex;
  justify-content: space-around;
  /* position: relative;
  top: -2em; */
}

.count {
  font-size: 30px;
}
.title {
  width: 200px;
}
.carts {
  overflow: auto;
  height: 440px;
}
.total-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  font-size: 30px;
  background-color: #ebf322;
  width: 100%;
  position: relative;
}
.items-id {
  position: absolute;
  left: 8px;
  font-size: 30px;
}
.clouse .cover-image {
  display: none;
}
.clouse .title {
  display: none;
}
.clouse .down-part {
  display: none;
}
.cover-imagee {
  display: block;
  width: 65px;
  position: relative;
  left: -50px;
}
/* .clouse .cart-data{
  height: 150px;
} */
