.card {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: left;
  display: flex;
  min-height: 200px;
  background: transparent;
  border-radius: 10px;
  /* box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.55); */
}
.card_left {
  width: 40%;
  height: 200px;
  overflow: hidden;
  /* background: transparent; */
}
.card_left img {
  width: 100%;
  height: 100%;
  /* height: auto; */
  /* max-height: 200px; */
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}
.card_right {
  width: 60%;
  background: #000000;
  border-radius: 0 10px 10px 0;
  padding: 20px;
}
.card_right h2 {
  color: white;
  letter-spacing: 1px;
}
.card_right__details {
  /* height: 100%; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
}
.card_right__details ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.card_right__details ul li {
  display: inline;
  color: #e3e3e3;
  font-size: 14px;
}

.card_right__buttons {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

.card_right__buttons button {
  padding: 2px 4px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
}
